body{
    margin: 0;
    padding: 0;
}

.main-title_1 {
font-size: 20px;
color: rgb(12, 179, 81);
font-weight: 200;
padding-bottom: 30px;
}
.main-title_1>p{
color: blueviolet;
}


.container_1{
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 5%;

}

.main-img{
width: 200px;
height: 200px;

}

.main-text{
    font-size: 20px;

}

.container_1 >p{
    color:brown
}

.container_2 {
    color: blue;
}